<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.classMapper">
	<!-- <select id="getClass" parameterType="int" resultMap="result"> select 
		* from class c, teacher t where c.teacher_id=t.t_id and c.c_id=#{id} </select> 
		<resultMap type="Classes" id="result"> <id property="id" column="c_id"/> 
		<result property="name" column="c_name"/> <association property="teacher" 
		column="teacher_id" javaType="Teacher"> <id property="id" column="t_id"/> 
		<result property="name" column="t_name"/> </association> </resultMap> -->

	<select id="getClass2" parameterType="int" resultMap="result">
		select * from class where c_id=#{id}
	</select>
	<resultMap type="Classes" id="result">
		<id property="id" column="c_id" />
		<result property="name" column="c_name" />
		<association property="teacher" column="teacher_id"
			select="getTeacher" javaType="Teacher"></association>
	</resultMap>
	<select id="getTeacher" parameterType="int" resultType="Teacher">
		SELECT t_id id, t_name name FROM teacher WHERE t_id=#{id}
	</select>
</mapper>